html {
    background: #efefef;
    height: 100%;
}

.page {
    background: #fff;
    display: grid;
    grid-template-rows: min-content auto min-content;
    margin: auto;
    max-width: min(700px, calc(100vw -2ren));
    min-height: 100%;
    padding: 1rem 2rem;
}

.page__header {
}

.page__header-navbar {

}

.page__body {}

.page__footer {
    border-top: 3px solid #efefef;
    margin-top: 2rem;
    padding-top: 1rem;
}

.navbar {
    border-bottom: 3px solid #efefef;
}

.navbar__menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.navbar__item-link {
    border-bottom: 3px solid transparent;
    color: #000;
    display: block;
    margin-bottom: -3px;
    padding: 1rem 2rem;
    text-decoration: none;
}

.navbar__item-link:focus,
.navbar__item-link:hover {
    border-color: #333;
}

.game {
    display: block;
    margin: 0 -8px 1rem;
}

.text {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.text :where(h1, h2, h3) {
    font-family: 'Trirong', serif;
    font-weight: 400;
}

.text figure img {
    display: block;
    max-width: 100%;
}
