html {
    background: #efefef;
}

.page {
    background: #fff;
    box-sizing: border-box;
    display: grid;
    /* plak de header en footer tegen de boven en onderkant van het scherm */
    grid-template-rows: min-content auto min-content;
    margin: auto;
    /* maximaal 764 pixels, zodat de game mooi past, maar niet groter dan het scherm */
    max-width: min(764px, calc(100vw -2rem));
    /* minimaal zo hoog als scherm */
    min-height: 100vh;
    padding: 1rem 2rem;
}

.page__header {
}

.page__header-navbar {

}

.page__body {}

.page__footer {
    border-top: 3px solid #efefef;
    margin-top: 2rem;
    padding-top: 1rem;
}

.navbar {
    border-bottom: 3px solid #efefef;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.navbar__menu {
    /* toon alle items naast elkaar */
    display: flex;
    /* maar spring naar een volgende regel als het niet past */
    flex-wrap: wrap;
    justify-content: space-between;
    /* verberg de bullets van de <ul> */
    list-style: none;
    margin: 0;
    padding: 0;
    /* zorg voor voldoende ruimte tussen de items */
    gap: 1rem;
}

.navbar__item-link {
    border-bottom: 3px solid transparent;
    color: #000;
    display: block;
    margin-bottom: -3px;
    padding: 1rem;
    text-decoration: none;
}

.navbar__item-link--active {
    background: #333;
    color: #fff;
}

/* toon een lijn onder menu links wanneer je je cursor erboven houd */
.navbar__item-link:focus,
.navbar__item-link:hover {
    border-color: #333;
}

.text {
    /* gebruik een mooi webfont */
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.text :where(h1, h2, h3) {
    /* gebruik een ander webfont voor koppen */
    font-family: 'Trirong', serif;
    font-weight: 400;
}

.text figure img {
    display: block;
    /* zorg ervoor dat afbeeldingen automatisch schalen */
    max-width: 100%;
}

.game {
    /* verberg spellen standaard */
    display: none;
}

/* maar toon spellen op schermen die groot genoeg zijn */
@media only screen and (min-width: 768px) {
    .game {
        display: block;
        margin: 0 -8px 1rem;
    }
}
